rechneraufgabe_3_schema.xsd

<?xml  version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rechnungssammlung">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rechnung" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="leistungssteller" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="adresse">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="strasse" type="xs:string"/>
                                                    <xs:element name="hausnummer" type="xs:string"/>
                                                    <xs:element name="postleitzahl" type="xs:int"/>
                                                    <xs:element name="ort" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="telefon" type="xs:string"/>
                                        <xs:element name="fax" type="xs:string"/>
                                        <xs:element name="e-mail" type="xs:string"/>
                                        <xs:element name="steuernummer" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="leistungsempfaenger">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="anrede" type="xs:string"/>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="adresse">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="strasse" type="xs:string"/>
                                                    <xs:element name="hausnummer" type="xs:string"/>
                                                    <xs:element name="postleitzahl" type="xs:int"/>
                                                    <xs:element name="ort" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="rechnungsdatum" type="xs:string"/>
                            <xs:element name="rechnungsnummer">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]([0-9/ \-])+[0-9]"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="dienstleistungen">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dienstleistung" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="position" type="xs:int"/>
                                                    <xs:element name="menge-oder-umfang" type="xs:string"/>
                                                    <xs:element name="art-der-dienstleistung" type="xs:string"/>
                                                    <xs:element name="einzelpreis">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="betrag" type="xs:decimal"/>
                                                                <xs:element name="waehrung" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="gesamtpreis">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="betrag" type="xs:decimal"/>
                                                                <xs:element name="waehrung" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="mwst" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="datum" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="kosten">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="steuerbetrag">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="betrag" type="xs:decimal"/>
                                                    <xs:element name="waehrung" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="entgeld">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="betrag" type="xs:decimal"/>
                                                    <xs:element name="waehrung" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="nettobetrag">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="betrag" type="xs:decimal"/>
                                                    <xs:element name="waehrung" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="zahlungsmoeglichkeiten">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="bankverbindung" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:choice>
                                                    <xs:sequence>
                                                        <xs:element name="IBAN" type="xs:string"/>
                                                        <xs:element name="BIC" type="xs:string" minOccurs="0"/>
                                                    </xs:sequence>
                                                    <xs:sequence>
                                                        <xs:element name="BLZ" type="xs:positiveInteger"/>
                                                        <xs:element name="Kontonummer" type="xs:positiveInteger"/>
                                                        <xs:element name="Bank" type="xs:string" minOccurs="0"/>
                                                    </xs:sequence>
                                                    <xs:sequence>
                                                        <xs:element name="BitcoinAdresse" type="xs:string"/>
                                                    </xs:sequence>
                                                    <xs:sequence>
                                                        <xs:element name="BIC" type="xs:string"/>
                                                        <xs:element name="Kontonummer" type="xs:positiveInteger"/>
                                                    </xs:sequence>
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
